$animation-duration-base: .3s;
$animation-duration-in: $animation-duration-base;
$animation-duration-out: .5s;

html, body {
  height: 100%;
  width: 100%;
}

body section.wrapper {
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  align-items: stretch;
  & > header {
    .navbar {
      border-top-width: 0;
      border-left-width: 0;
      border-right-width: 0;
      margin: 0;
      height: $navbar-height;

      .navbar-toggle.flat {
        @extend .navbar-brand;
        border: none;
        margin: 0;
      }
    }
    flex-basis: $navbar-height;
    flex-shrink: 0;
    flex-grow: 0;
    order: 1;
  }
;
  & > section.app {
    position: relative;
    height: 100%;
    flex-basis: 100%;
    order: 2;

    section.app-menu-panel {
      padding: 0;
      border-top: none;
      position: absolute;
      width: 85%;
      height: 100%;
      transform: translate3d(-100%, 0px, 0px);
      z-index: 20;
      @include transition(transform $animation-duration-out ease-in-out);

      .panel-body {
        padding: 0;
      }

      .list-group-item:first-child {
        margin-top: -1px;
      }

      &.open {
        transform: translateX(0);
        @include transition(transform $animation-duration-in ease-in-out);
      }
    }

    section.app-body-panel {
      background-color: transparent;
      position: absolute;
      width: 100%;
      height: 100%;
      transform: translate3d(0px, 0px, 0px);
      z-index: 10;
      @include transition(transform $animation-duration-out ease-in-out);

      &.menu-open {
        transform: translateX(85%);
        @include transition(transform $animation-duration-in ease-in-out);
      }

    }

  }
;
  /*&>footer {
    flex-basis: 50px;
    max-height: 50px;
    min-height: 1.2em;
    order: 3;
  };*/

}
